  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pizza {
  color:rgb(16, 16, 16);
  padding: 10px; 
  transition: background-color 0.1s;
}

/* Style au survol des éléments de classe 'pizza' */
.pizza:hover {
  color : rgb(240, 240, 240);
  background-color: rgb(36, 38, 48);
}

.title {
  padding-left : 20%;
}