  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.pizza {
  color:rgb(240, 240, 240);
  background-color: hsl(183, 65%, 51%); 
  padding: 10px; 
  transition: background-color 0.1s;
}

.pizza:hover {
  background-color: rgb(42, 42, 126);
}